body{
	background-image: url('../images/sba_Chytra_kancelar.jpg');
	background-repeat: no-repeat;/* Para que la imagen de fondo no se repita */
	background-attachment: fixed;/* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
	background-size: cover;/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
	background-position: center center;/* Para dejar la imagen de fondo centrada, vertical y horizontalmente */
}

.navbar {
  background-color: black !important;
  height: 60px;
}

.navbar-brand img{
  border-radius: 15%;
}

.navbar .navbar-nav{
  background-color: black !important;
}

main {
  height: 90vh;
}

#profile{
  background-color: rgb(240, 234, 234);
}

#projects{
  background-color: rgb(255, 250, 255);
}

.cardTitle{
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: rgba(172, 169, 169, 0.3);
}
.section2 {
  height: 100vh;
}

.mypicture{
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin-bottom: 20px;
}

.social img{
	height: 40px;
	width: 40px;
}

.card {
  /* border:1px solid blue; */
  margin: 0 auto;
  height: 25rem;
}

.card p{
  font-size: 0.8rem;
}

footer {
  /* height: 70vh; */
  background-color: rgba(0, 0, 0, 0.8);
}

.colorTitle{
  color: var(--white);
}
