/* background: rgb(0, 156, 222); */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*Custom properties*/
:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-bg: #fff;
  --clr-dark: #303030;
  --clr-dark-btn: #302000;
  --clr-light: #fff;
  --clr-accent: rgb(0, 156, 222);

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);

  --marquee-width: 100%;
  --marquee-height: 20vh;
  /* --marquee-elements: 12; */ /* defined with JavaScript */
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(
    var(--marquee-width) / var(--marquee-elements-displayed)
  );
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General styles */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--ff-body);
  line-height: 1.6;
}

main {
  padding: 5em 2em 4em 2em;
}

section {
  padding: 5em 2em 2em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/* buttons */

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark-btn);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
  border-radius: 7px;
  border: 1px solid black;
  outline: none;
}

.btn:hover {
  transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.section__arrow--up {
  padding-top: 2em;
  text-align: center;
}

.section__arrow--up i {
  font-size: 2rem;
  color: var(--clr-accent);
}
/* styling the titles and subtitles */
.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo {
  max-width: 280px;
}

.header__logo--tittle {
  margin: 0;
  font-family: var(--ff-secondary);
  font-size: var(--fs-h3);
  color: var(--clr-accent);
  text-shadow: 1px 1px 2px rgb(92, 87, 87);
}

.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent);
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-toggle:focus {
  outline: 3px solid var(--clr-light);
}

.nav-open .nav-toggle:focus {
  outline: 3px solid var(--clr-dark);
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-accent);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

/* Setting up the intro section */

.intro {
  position: relative;
}

.intro__img {
  box-shadow: var(--bs);
}

.section__subtitle--intro {
  display: inline-block;
}

.section__submenu {
  display: none;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social__list--item {
  margin: 0 0.2em;
}

@media (min-width: 960px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle"
      "submenu submenu";
    grid-template-columns: min-content max-content;
  }

  .intro > .section__submenu {
    grid-area: submenu;
  }

  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }

  .section__submenu {
    display: inline-block;
  }

  .section__submenu--list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 6em 0 0;
    padding: 0;
  }

  .submenu__list--item {
    margin: 0 1.5em;
    padding-left: 15px;
    padding-right: 15px;
  }

  .submenu__list--link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none !important;
    position: relative;
    display: inline-block;
  }

  .submenu__list--link:hover {
    color: var(--clr-accent);
  }

  .submenu__list--link:after {
    content: "";
    position: absolute;
    top: 110%;
    height: 4px;
    width: 0%;
    left: 50%;
    background-color: var(--clr-accent);
    transition: 0.4s ease-out all 0.1s;
  }

  .submenu__list--item:hover .submenu__list--link:after {
    width: 90%;
    left: 5%;
    transition: 0.5s ease all;
  }

  .social__list--item {
    margin: 0 0.5em;
  }
}

.social__list--link {
  padding: 0.5em;
  color: var(--clr-accent);
  font-size: 2em;
}

.social__list--link:hover {
  color: var(--clr-dark);
  transition: 0.9s ease all;
}

/* Styling the services section */

.my-services,
.footer {
  background-color: var(--clr-dark);
  background-image: url("../images/code-coding-data-574073.jpg");
  background-size: cover;
  /* background-blend-mode: multiply; */
  color: var(--clr-light);
  text-align: center;
  position: relative;
}

.my-services:before,
.footer:before {
  content: "";
  position: absolute;
  background-color: #000;
  opacity: 0.7;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.section__title--services {
  color: var(--clr-accent);
  position: relative;
}

.section__title--services::after {
  content: "";
  display: block;
  width: 4em;
  height: 2px;
  margin: 0.5em auto 1em;
  background: currentColor;
  opacity: 0.55;
}

.section__services {
  position: relative;
}

.services {
  margin-bottom: 4em;
}

.service {
  max-width: 500px;
  margin: 0 auto;
}

.section__title--footer {
  color: var(--clr-accent);
  font-size: 2rem;
  position: relative;
}

.section__title--footer::after {
  content: "";
  display: block;
  width: 4em;
  height: 2px;
  margin: 0.5em auto 1em;
  background: currentColor;
  opacity: 0.55;
}

.section__contact--footer,
.section__credits--footer {
  position: relative;
  display: block;
}

.section__credits--footer {
  padding: 20px;
  font-size: 0.8rem;
}

#contact__title,
#contact__subtitle {
  font-size: 0.9rem;
  margin-bottom: 1.2rem;
}

.contact--footer__info,
.contact--footer__form {
  padding: 2rem;
}

.contact--footer__info a {
  text-decoration: none;
  color: var(--clr-light);
  font-weight: bold;
}

.contact__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 0.9rem;
}

.contact__form--label {
  color: var(--clr-accent);
}

.contact__form--input {
  display: block;
  margin: 0 auto;
  color: var(--clr-bg);
  font-size: 0.8rem;
  width: 90%;
  line-height: 1.3rem;
  border: none;
  background: transparent;
  border-bottom: 1px solid var(--clr-accent);
  outline: none;
}

#item--message {
  margin-top: 30px;
}

.item--message {
  grid-column: 1 / 3;
}

.contact__form--item {
  position: relative;
}

.contact__form--item i {
  color: #2ecc71;
  position: absolute;
  top: 5px;
  right: -5px;
  visibility: hidden;
}

.contact__form--item small {
  color: #f9311c;
  visibility: hidden;
}

.contact__form--item.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.contact__form--item.success small {
  visibility: hidden;
}

.contact__form--item.error i.fa-exclamation-circle {
  color: #f9311c;
  visibility: visible;
}

.contact__form--item.error small {
  visibility: visible;
}

@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .service + .service {
    margin-left: 2em;
  }

  .section__contact--footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
  }
}

/* styling the about-me section */

.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

.about-me__img {
  box-shadow: var(--bs);
}

.color-linkedin {
  color: #0077b5;
}
.color-github {
  color: #333333;
}
.color-twitter {
  color: #1da1f2;
}
.color-acrobat {
  color: #fa0f00;
}
.color-whatsapp {
  color: #00e676;
}
.color-skype {
  color: #009de4;
}

.my-skills {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 15px;
}

/* Carousel Styles */
.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  background-color: var(--clr-bg);
  color: #eee;
  overflow: hidden;
  position: relative;
}
.marquee:before,
.marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}
.marquee:before {
  left: 0;
  background: linear-gradient(to right, var(--clr-bg) 0%, transparent 100%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, var(--clr-bg) 0%, transparent 100%);
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
/* .marquee-content:hover {
  animation-play-state: paused;
} */
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-1 * var(--marquee-element-width) * var(--marquee-elements))
    );
  }
}

.marquee-content {
  margin-top: 0;
  padding-left: 0px;
}

.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height) * 3 / 4); /* 5rem; */
  white-space: nowrap;
  flex-direction: column;
}

.marquee-content li img {
  width: 50%;
  /* height: 100%; */
  /* border: 2px solid #eee; */
}

.marquee-content li small {
  margin-top: 5px;
  font-size: 10pt;
  color: var(--clr-dark);
  font-weight: 600;
}

@media (max-width: 800px) {
  .marquee-content li {
    font-size: 4rem;
  }
}

@media (max-width: 600px) {
  .marquee:before,
  .marquee:after {
    width: 5rem;
  }

  .marquee-content li {
    font-size: 3rem;
  }

  .marquee-content li small {
    font-size: 8pt;
  }
}

@media (max-width: 320px) {
  .marquee-content li {
    font-size: 2rem;
  }

  .marquee-content li small {
    font-size: 6pt;
  }
}

/* *************** */

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img"
      "links links"
      "skills skills";
    column-gap: 2em;
  }

  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }

  .social-list {
    grid-area: links;
  }

  .my-skills {
    grid-area: skills;
  }
}

/* styling the my-work section */
.my-work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  column-gap: 0.5em;
  row-gap: 0.5em;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.col {
  width: calc(90% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.front {
  background-image: url(https://unsplash.it/500/500/);
}

.img-dotnet {
  width: 40px;
}

.color-laravel {
  color: #ff2d20;
}
.color-php {
  color: #8892bf;
}
.color-vue {
  color: #41b883;
}
.color-js {
  color: #f7df1e;
}
.color-html5 {
  color: #e44d26;
}
.color-css3 {
  color: #016cb9;
}
.color-bootstrap {
  color: #7952b3;
}
.color-react {
  color: #61dafb;
}
.color-aws {
  color: #ec912d;
}

#curaduriapp {
  background-image: url("../images/curaduriapp01.png");
}
#messengerapp {
  background-image: url("../images/messenger01.png");
}
#signatureapp {
  background-image: url("../images/signature01.png");
}
#sacapp {
  background-image: url("../images/sac01.png");
}
#docusapp {
  background-image: url("../images/docusapp01.png");
}
#censophapp {
  background-image: url("../images/censophapp01.png");
}

.front,
.back {
  background-size: cover;
  background-position: center;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 300px;
  height: auto;
  border-radius: 10px;
  color: rgb(56, 54, 54);
  font-size: 1rem;
}

.back {
  /* background-image: url(../images/curaduriapp01.png);
  opacity: 0.7; */
  background: #f9f9fa;
  /* background: -webkit-linear-gradient(45deg, #cedce7 0%, var(--clr-accent) 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%, var(--clr-accent) 100%);
  background: linear-gradient(45deg,  #cedce7 0%, var(--clr-accent) 100%); */
}

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.container:hover .front,
.container:hover .back {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.inner {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 75%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
}

.outer {
  top: 45%;
}

.my-work__cards--buttons {
  display: flex;
  justify-content: space-around;
}

.container .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front .inner p {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.front .inner p:after {
  content: "";
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #c6d4df;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -0.75rem;
}

.front .inner span {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Montserrat";
  font-weight: 300;
}

.custom-btn-curaduriapp {
  font-size: 0.5rem;
  margin: 0 5px;
  line-height: 15px;
}

.custom-my-work__cards--buttons {
  margin-top: 15px;
}

.my-work__cards--skills {
  display: flex;
  justify-content: space-evenly;
  color: var(--clr-accent);
  margin-top: 2.5rem;
}

.my-work__cards--skills i {
  font-size: 1.8rem;
}
