nav{
  height: 11vh;
  background-color: rgba(0, 0, 0);
}

.nav-links{
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

.nav-links li a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 1078px){
  .nav-links{
    width: 70%;
  }
}

@media screen and (max-width: 768px){
  .line{
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }

  nav{
    position: relative;
  }

  .hamburguer{
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .nav-links{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    /* display: none; */
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .nav-links.open{
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }

  .nav-links li{
    opacity: 0;
  }

  .nav-links li a{
    font-size: 25px;
  }

  .nav-links li:nth-child(1){
    transition: all 0.5s ease 0.2s;
  }

  .nav-links li:nth-child(2){
    transition: all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(3){
    transition: all 0.5s ease 0.6s;
  }

  .nav-links li:nth-child(4){
    transition: all 0.5s ease 0.8s;
  }

  .nav-links li:nth-child(5){
    transition: all 0.5s ease 1s;
  }

  .nav-links li:nth-child(6){
    transition: all 0.5s ease 1.2s;
  }

  .nav-links li.fade{
    opacity: 1;
  }
}